* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #fdfdfd;
  --text-color: #000000;
  --main-color: #55cee6;
  --swiper-navigation-size: 25px;
}

*::selection {
  background: var(--main-color);
  color: var(--bg-color);
}
/* 
.dark-mode {
  --bg-color: #0b061f;
  --text-color: #fdfdfd;
  --shadow-color: rgba(0, 0, 0, 0.7);
}
.light-mode {
  --bg-color: #fdfdfd;
  --text-color: #000000;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  user-select: none;
  font-family: archivo;


      --background-color: #fff;
    --error-code-color: var(--google-gray-700);
    --google-blue-50: rgb(232, 240, 254);
    --google-blue-100: rgb(210, 227, 252);
    --google-blue-300: rgb(138, 180, 248);
    --google-blue-600: rgb(26, 115, 232);
    --google-blue-700: rgb(25, 103, 210);
    --google-gray-100: rgb(241, 243, 244);
    --google-gray-300: rgb(218, 220, 224);
    --google-gray-500: rgb(154, 160, 166);
    --google-gray-50: rgb(248, 249, 250);
    --google-gray-600: rgb(128, 134, 139);
    --google-gray-700: rgb(95, 99, 104);
    --google-gray-800: rgb(60, 64, 67);
    --google-gray-900: rgb(32, 33, 36);
    --heading-color: var(--google-gray-900);
    --link-color: rgb(88, 88, 88);
    --popup-container-background-color: rgba(0, 0, 0, .65);
    --primary-button-fill-color-active: var(--google-blue-700);
    --primary-button-fill-color: var(--google-blue-600);
    --primary-button-text-color: #fff;
    --quiet-background-color: rgb(247, 247, 247);
    --secondary-button-border-color: var(--google-gray-500);
    --secondary-button-fill-color: #fff;
    --secondary-button-hover-border-color: var(--google-gray-600);
    --secondary-button-hover-fill-color: var(--google-gray-50);
    --secondary-button-text-color: var(--google-gray-700);
    --small-link-color: var(--google-gray-700);
    --text-color: var(--google-gray-700);
    background: var(--background-color);
    color: var(--text-color);
    word-wrap: break-word;



} */

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  user-select: none;
  font-family: archivo;
}

#darkMode-icon {
  font-size: 24px;
  margin-left: 24px;
  color: var(--text-color);
  cursor: pointer;
  text-decoration: none;
  border: none;
  background-color: #7d52f4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header.sticky #darkMode-icon {
  color: var(--text-color);
  opacity: 0.9;
}


body.light {
  /* background-color: #ffffff; */
  /* color: #000000; */
  --storke-soft: #eaecf0;
  --static-white: #FFF;
  --primary-light: #cac0ff;
  --primary-darker: #7d52f4;
  --text-sub:#475467;
  --bg-color: #fdfdfd;
  --text-strong: #0C111D;
  --bg-week: #F9FAFB;
  --text-color: #000000;
  --text-soft: #98A2B3;
  --bg-white: #FFF;
  --bgc-icon: #fff;
  --icon-strong: #0C111D;
  --link-color: rgb(88, 88, 88);
  --popup-container-background-color: rgba(0, 0, 0, .65);
  
}

body.dark {
  /* background: var(--bg-white, #0C111D); */
--storke-soft: #333741;
--static-white: #FFF;
--primary-light: rgba(120, 77, 239, 0.24);
--primary-darker: #7D52F4;
--text-sub: #94969C;
--bg-color: #0C111D;
--text-strong: #fff;
--bg-week: #161B26;
--bg-white: #0C111D;
--text-color: #fdfdfd;
--text-soft: #85888E;
--bgc-icon: #CAC0FF;
--icon-strong:#fff;
/* --bg-color: #0b061f; */
}

.theme-toggle {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}


/* ============================================== */

/* ScrollReveal.css */
/* .scroll-reveal {
  opacity: 0.3; 
  transition: opacity 0.5s ease-in-out; 
}
.scroll-reveal.is-visible {
  opacity: 1; 
} */








/* ========================================= */
.Home {
  margin-bottom: 1px;
}

.nav-logo {
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: center;
}

.navbar {
  position: fixed;
  width: 100%;
}

.nav-container {
  width: 1016px;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: 1px solid black ;
  border-radius: 40px;
  opacity: 0.8;
  margin: 24px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px 16px;
  border-radius: 40px;
  border: 1px solid var(--storke-soft, #eaecf0);
  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(14px);

}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
align-items: center;
gap: 8px;
}
.logo-icon {
  height: 104px;
  width: 104px;
}

.quote-button {
  padding: 8px 24px;
  border-radius: 8px;
  border-style: none;
  text-align: center;
  border-radius: 32px;
  border: 1px solid var(--primary-light, #cac0ff);
  background: var(--primary-darker, #7d52f4);
  box-shadow: 0px 1px 2px 0px rgba(27, 28, 29, 0.03);
  color: var(--static-white, #fff);

  font-family: Archivo;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.176px;
}

.navword {
  width: 100px;
  color: var(--text-sub, #475467);
  text-decoration: none;
  padding: 8px 16px;
  text-align: center;
}

.navword:hover {
  border-radius: 2px;
  border-bottom: 2px solid var(--primary-darker, #7D52F4);
  color: var(--primary-darker, #7D52F4);
}




.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 216px 108px;
  gap: 21px;
}

.app-header div {
  font-size: 96px;
  font-weight: 700;
  line-height: 104px;
  letter-spacing: -1%;
  text-align: center;
  color: var(--text-strong, #0C111D);

}

.app-header div span:nth-child(2) {
  color: #ea4b8b;
}

.app-header div span:nth-child(4) {
  color: #63c5ea;
}

.app-header p {
  font-size: 24px;
  font-weight: 400;
  /* line-height: 32; */
  color: var(--text-sub, #475467);
}

.app-header button {
  border: 1px solid var(--primary-light, #CAC0FF);
  background: var(--primary-darker, #7D52F4);
  box-shadow: 0px 1px 2px 0px rgba(27, 28, 29, 0.03);
  border-radius: 32px;
  padding: 16px 32px;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 24px;
  margin: 0px 108px 96px 108px;
}

.about-content {
  width: 488px;
}

.about-heading {
  height: 64px;
  font-size: 36px;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: -1%;
  color: var(--text-strong, #FFF);
  /* background: var(--bg-white, #0C111D); */
  padding-bottom: 24px;
  margin-bottom: 24px;
}

.about-text {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: -1.5%;
  color: var(--text-sub, #94969C);
  text-align: justify;
}
.about-text p:first-child {
  color: #7d52f4;
  font-weight: 500;
  padding-bottom: 8px;
}

.about-image {
  width: 496px;
  height: 496px;
  border-radius: 24px;
  flex-shrink: 0;
  border-radius: 24px;
  border: 12px solid #63C5EA;
  background: var(--bg-white, #0C111D);
  box-shadow: 2px 2px 0px 0px #000, 16px 16px 0px 0px #EA4B8B;
}

.section-container {
  width: 100%;
  margin-bottom: 96px;
}

.section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 16px;
  margin: 16px;
}

.section-heading {
  font-size: 56px;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: -1%;
  color: var(--text-strong, #0C111D);
}

.section-heading span symbol {
  height: 64px;
  width: 42.67px;
}

.section-sub-heading {
  font-size: 32px;
  line-height: 40px;
  font-weight: 500;
  letter-spacing: -0.5%;
  color: var(--text-soft, #98A2B3);
}

.card-container {
  display: grid;
  grid-template-columns: 355px 355px;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  gap: 28px;
}
.section-card {
  width: 352px;
  border: 1px solid var(--storke-soft, #EAECF0);
  background: var(--bg-week, #F9FAFB);
  border-radius: 12px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 8px;
}
.icon{
  width: 24px;
height: 24px;
stroke: var(--icon-strong, #0C111D);
stroke-width: 1px;
}


.card-text {
  width: 288px;
}
/* .card-text::before{
    content: " * ";
  } */

.card-text h3 {
  color: var(--text-strong, #FFF);
  font-family: Archivo;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.015em;
  text-align: left;
}

.card-text p {
  color: var(--text-soft, #98A2B3);
  font-family: Archivo;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.006em;
  text-align: left;
}

.services {
  margin: 0px 108px 96px 108px;
}

.services-header {
  margin-bottom: 48px;
}

.services-header h2 {
  height: 64px;
  font-size: 56px;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: -1%;
  color: var(--text-strong, #0C111D);
  text-align: left;
}
.services-header p {
  width: 808px;
  height: 40px;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -0.5%;
  text-align: left;
  color: var(--text-soft, #98A2B3);
  margin-bottom: 12px;
}
.services-grid {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 28px;
}

.services-card {
  border: 1px solid #eaecf0;
  border-radius: 12px;
  padding: 32px;
}
.services-card-icon {
  width: 64px;
  height: 64px;
  background-color: var(--bgc-icon, #fff);
  border-radius: 12px;
  margin-bottom: 16px;
}
/* .servicesIcon{
  stroke: var(--icon-strong, #0C111D);
  stroke-width: 1px;
} */

.services-card h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 12px;
  letter-spacing: -0.15%;
  text-align: left;
  color: var(--text-strong, #0C111D);
}

.services-card-text ul li {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.06%;
  text-align: left;
  color: var(--text-soft, #98A2B3);
}

.portfolio {
  margin: 0px 108px;
}

.portfolio-container {
  width: 1224px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}
.portfolio-header {
  font-size: 56px;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: -0.1%;
  text-align: left;
  color: var(--text-strong, #0C111D);
}
.portfolio-header span {
  color: var(--primary-darker, #7D52F4);
}

.portfolio-btn-container {
  display: flex;
  gap: 24px;
  align-items: flex-end;
}

.portfolio-btn-container button {
  width: 288px;
  height: fit-content;
  padding: 16px 32px;
  border-radius: 32px;
  border: 1px solid var(--storke-sub, #D0D5DD);
  background: var(--bg-white, #FFF);
  color: var(--text-strong, #0C111D);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.15%;
}
.portfolio-btn-container button:nth-child(2) {
  border: 1px solid var(--primary-light, #CAC0FF);
background: var(--primary-darker, #7D52F4);
border-radius: 32px;
color: var(--static-white, #FFF);
}

.portfolio-card-container {
  /* width: 1224px; */
  height: 428px;
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
}
.portfolio-card-container::-webkit-scrollbar {
  display: none;
}

.portfolio-card {
  width: 253px;
  height: 408px;
  border-radius: 64px;
  background: var(--bg-soft, #EAECF0);
  flex-shrink: 0;
  border: 1px solid #ccc;
  overflow: hidden;
  transition: transform 0.3s;
  display: flex;
  align-items: end;
  text-align: center;

}
.portfolio-card:hover{
  width: 350px;
}
.portfolio-image{
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
}

.portfolio-card h3 {
  font-size: 18px;
  color: var(--text-color);
}

.testimonial-container {
  margin: 96px 108px;
}

.testimonial-header {
  font-size: 56px;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: -0.01em;
  text-align: left;
  margin-bottom: 48px;
}

.testimonial-header span {
  color: var(--primary-darker, #7D52F4);
}

.testimonial-card-container {
  display: flex;
  justify-content: space-between; /* Space between cards */
}

.testimonial-cards {
  display: flex;
  gap: 48px; /* Space between individual testimonial cards */
  width: 100%;
  height: 100%;
}

.testimonial-card {
  display: flex;
  gap: 24px;
  /* background: #ffffff; Card background */
  /* border: 1px solid #D0D5DD;// Card border */
  border-radius: 12px; /* Rounded corners */
  padding: 24px; /* Internal padding */
  width: 100%; /* Ensure card takes available space */
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); Subtle shadow for depth */
}

.testimonial-card-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.testimonial-text-head {
  font-family: Archivo, sans-serif; /* Font family */
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -0.005em;
  color: var(--text-strong, #0C111D);
  text-align: left;
}

.testimonial-text-para {
  font-family: Archivo, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: var(--text-sub, #475467);
  letter-spacing: -0.015em;
  text-align: justify; /* Justified text for a clean look */
  height: 100%;
}

.testimonial-detail {
  display: flex;
  gap: 16px;
  align-items: center; /* Center align details */
}

.testimonial-details-image {
  width: 48px;
  height: 48px;
  border-radius: 50%; /* Circular image */
  background-color: #475467; /* Placeholder background color */
  background-size: cover; /* Ensure image covers the area */
}

.testimonial-details-name h4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.015em;
  color: var(--text-strong, #0C111D);
}

.testimonial-details-name h5 {
  font-family: Archivo, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.006em;
  color: var(--text-sub, #475467);
}

.vertical-rule {
  border-right: 1px solid #000000;
  margin: 0 48px;
}




/* .slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin: 48px 0; Adjust margin for spacing
} */

/* .swipe-right,
.swipe-left {
  border: 1px solid #d0d5dd;
  border-radius: 32px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center; 
  cursor: pointer; 
} */

/* .dot {
  height: 12px;
  width: 12px;
  background-color: #7d52f4; Active color
  border-radius: 50%; Circular dot
  cursor: pointer; 
} */
.swiperArrow{
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px;
  height: 40px;
  width: 200px;
  left: 50%;
  transform: translate(-50%,-50%);
  /* background-color: red; */
}
.swiper-pagination {
  position: fixed;
  text-align: center;
  transition: .3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.swiper-button-next,.swiper-button-prev {
  --swiper-navigation-size: 25px;

  position: relative;
  /* top: var(--swiper-navigation-top-offset,50%); */
  top: 50%;
  /* width: calc(var(--swiper-navigation-size)/ 44 * 27); */ 
  width:  var(--swiper-navigation-size);
  height: var(--swiper-navigation-size);
  /* margin-top: calc(0px - (var(--swiper-navigation-size)/ 2)); */
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color,var(--swiper-theme-color));
  border-radius: 50%;
  border: 2px solid var(--swiper-theme-color);
}
.swiper-button-next svg,.swiper-button-prev svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform-origin: center
}
.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,8px));
  height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,8px));
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius,50%);
  background: var(--swiper-pagination-bullet-inactive-color,#000);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, .7)
}
.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color,var(--swiper-theme-color))
}
/* 
  .testimonial-container{
    margin: 96px 108px ;
  }

  .testimonial-header{
font-size: 56px;
font-weight: 500;
line-height: 64px;
letter-spacing: -0.01em;
text-align: left;
margin-bottom: 48px;

  }
  .testimonial-card{
    display: flex;
    gap: 48px;
  }

  .testimonial-header span{
    color: #7D52F4;
  }
.testimonial-card-container{
  display: flex;
}

.testimonial-card-text{
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.testimonial-text-head{
font-family: Archivo;
font-size: 32px;
font-weight: 500;
line-height: 40px;
letter-spacing: -0.005em;
color: #0C111D;
text-align: left;

}

.testimonial-text-para{
font-family: Archivo;
font-size: 18px;
font-weight: 400;
line-height: 24px;
color: #475467;
letter-spacing: -0.015em;
text-align: left;
text-align: justify;

}

.testimonial-detail{
  display: flex;
  gap: 16px;

}
.testimonial-details-image{
  width: 48px;
  height: 48px;
  border-radius: 50px;
  background-color: #475467;
}
.testimonial-details-name h4{
font-size: 18px;
font-weight: 500;
line-height: 24px;
letter-spacing: -0.015em;
text-align: left;
color: #0C111D;
}
.testimonial-details-name h5{
font-family: Archivo;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: -0.006em;
text-align: left;
color: #475467;
}
.vertical-rule{
  border-right:1px solid #000000 ;
  margin: 0px 48px;
}
.slider{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin: 48px;
}
.swip-right, .swip-left{
  border: 1px solid #D0D5DD;
  border-radius: 32px;
  height: 40px;
  width: 40px;
  padding: 8px;
}

 */

.faq {
  display: flex;
  margin: 0px 108px;
  justify-content: space-between;
}
.faq-head {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.faq-heading {
  font-family: Archivo;
  font-size: 56px;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: -0.01em;
  text-align: left;
  color: var(--text-strong, #0C111D);
}

.faq-text {
  width: 289px;
  height: 96px;
  font-family: Archivo;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.015em;
  text-align: left;
  color: var(--text-soft, #98A2B3);
}
.faq-button {
  margin-top: 16px;
  padding: 16px 32px;
  width: 288px;
  border-radius: 32px;
  border: 1px solid var(--primary-light, #CAC0FF);
  background: var(--primary-darker, #7D52F4);
}

.faq-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-height: 652px;
  overflow: scroll;
}
.faq-content::-webkit-scrollbar {
  display: none;
}
.faq-card {
  width: 808px;
  padding: 24px 40px;
  border-radius: 24px;
  border: 2px solid var(--storke-sub, #D0D5DD);
  background: var(--bg-white, #FFF);
}
.faq-slide {
  display: flex;
  gap: 8px;
}
.faq-card-text {
  width: 680px;
  height: 32px;
  font-family: Archivo;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  color: var(--text-strong, #0C111D);
}
.faq-card-icon {
  width: 40px;
  height: 40px;
  font-size: 32px;
  padding: 3.33px;
  cursor: pointer;
  /* background-color: var(--primary-darker); */
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.faq-query p {
  /* width: 726px;
  height: 96px; */
  font-family: Archivo;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.015em;
  text-align: left;
  margin-top: 12px;
  color: var(--text-sub, #475467);
}
.faq-open {
  padding: 8px 0px;
}



/* --------------------------------- */

/* .navModal{
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: -10;
  left: -260px;
  right: -5000px;
  bottom: 260;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
 */




/* .modal-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
} */

.modal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  gap: 16px;
  z-index: 999;
}
.modal-content {
  width: 600px;
  height: 640px;
  padding: 40px;
  border-radius: 32px;
  background: var(--bg-white, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.modal-content-header {
  display: flex;
  justify-content: space-between;
}

.modal-content h2 {
  margin: 0 0 10px 0;
}

.modal-content label {
  display: block;
  margin: 10px 0;
}

.modal-content input {
  width: 100%;
  padding: 10px 12px;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid var(--storke-sub, #d0d5dd);
  background: var(--bg-white, #fff);
  box-shadow: 0px 1px 2px 0px rgba(27, 28, 29, 0.03);
}
.modal-content textarea {
  width: 100%;
  height: 148px;
  padding: 10px 12px;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid var(--storke-sub, #d0d5dd);
  background: var(--bg-white, #fff);
  box-shadow: 0px 1px 2px 0px rgba(27, 28, 29, 0.03);
}

.sendButton {
  margin: 10px  8px;
  padding: 12px;
  border-radius: 36px;
}
.sendButton:hover {
  cursor: pointer;
  border: 1px solid green;
  background-color: green;
}
.cross{
  margin: 0px !important;
  padding: 0px !important;
  cursor: pointer;
  border: none;
  background-color:transparent;
}
.full-name {
  display: flex;
  width: 100%;
  gap: 8px;
  margin-top: 8px;
}
.name {
  width: 300px;
}




.footer {
  margin: 96px 28px 0px 28px;
  border-radius: 64px 64px 0px 0px;
  background-color: #7d52f4;
  /* width: 1392px; */
  padding: 64px 56px;
  color: #ffffff;
}
.footer-head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 72px;
}
.footer-heading {
  font-family: Archivo;
  font-size: 48px;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #ffffff;
}
.footer-head-text {
  font-family: Archivo;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
}
.footer-button {
  width: 288px;
  padding: 16px 32px;
  border-radius: 32px;
  /* border: 1px solid #ffffff;border-radius: 32px; */
  border: 1px solid var(--static-white, #fff);
  color: var(--static-white, #fff);
  background: var(--primary-darker, #7d52f4);
  /* regular-shadow/X-small */
  box-shadow: 0px 1px 2px 0px rgba(27, 28, 29, 0.03);

  text-align: center;
}

.footer-body {
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
}
.footer-logo {
  display: flex;
  align-items: center;
  gap: 8px;
}
.flogo-icon {
  height: 40px;
  width: 40px;
}
.flogo-text {
  font-size: 56px;
}
.footer-text {
  margin: 24px 0px;
}
.footer-text p {
  width: 396px;
  height: 64px;
  font-family: Archivo;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.015em;
  color: var(--static-white, #fff);

}
.footer-text p:nth-child(2) {
  font-family: Archivo;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.015em;
  color: var(--static-white, #fff);

}
.copyright-tag {
  font-family: Archivo;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.015em;
  padding-top: 24px;
  color: var(--static-white, #fff);

}

.footer-options {
  align-content: flex-end;
  justify-content: flex-end;
}

.footer-links {
  width: 352px;
  margin: 12px 0px;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}
.footer-policies {
  width: 352px;
  margin: 12px 0px 48px 0px;
  display: flex;
  margin-left: auto;
  justify-content: space-between;
}
.footer-socialmedia {
  width: 568px;
  display: flex;
  justify-content: space-between;
}
.footer-socialmedia a{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 16px;
  color: var(--static-white, #fff);
  text-decoration: none;
}

.footer-policies>Link,
.footer-links>Link {
  padding: 8px 16px;
  color: var(--static-white, #fff);
  /* background-color: red; */
  text-decoration: none;

}
/* Link:active{
  background-color: #fff;
  color: red; 
}
Link:visited{
  background-color: #fff;
  color: red; 
} */